.button {
	position: fixed;
	right: 32px;
	bottom: 20px;
	z-index: 1000;
}

.help-entry {
	position: relative;
	border: 1px solid black;
}

.connect-btn {
	width: 44px;
	height: 44px;
	box-shadow: 0 6px 12px 0 rgba(0,0,0,.15);
}

.to-top-btn {
	margin-top: 8px;
	cursor: pointer;
	display: none;
	width: 44px;
	height: 44px;
	box-shadow: 0 6px 12px 0 rgba(0,0,0,.15);

}

.connect-panel {
	background-color: rgb(255, 255, 255);
	box-shadow: 0 6px 12px 0 rgba(0,0,0,.15);
	padding: 20px;
	position: absolute;
	right: 0px;
	bottom: 49px;
	opacity: 0;
	transition: all 0.3s;
	transition-delay: 0.1s ;
}

.connect-panel.active {
	background-color: rgb(255, 255, 255);
	box-shadow: 0 6px 12px 0 rgba(0,0,0,.15);
	padding: 20px;
	position: absolute;
	right: 0px;
	bottom: 59px;
	opacity: 1;
}

ul.panel-content{
	list-style-type: none;
}

.connect-icon,
.content-main,
.panel-close {
	display: inline-block
}

.panel-close {
	width: 14px;
	position: absolute;
	right: 20px;
	top: 20px;
	cursor: pointer;
}

.panel-close img,
.connect-icon img{
	width: 100%;
	height: 100%;
}

.connect-icon {
	width: 24px;
	height: 24px;
	vertical-align: middle;
}

.panel-content li {
	width: 280px;
}

.panel-content li:first-child {
	margin-bottom: 20px;
}

.content-main div {
	line-height: 24px;
}

.content-main {
	margin-left: 12px;
	vertical-align: middle;
}

.connect-title {
	color: rgb(55, 61, 65);
	font-size: 14px;
}

.connect-title:hover {
	color: #00c1de;
}

.connect-description {
	color: rgb(155, 158, 160);
	font-size: 12px;
}





